<!DOCTYPE html>
<html>
    <head>
        <title>Digital Archive of Queensland Architecture</title>
        <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"> 
        <link rel="stylesheet" href="css/frontendbb.css" type="text/css"> 

        <script type="text/javascript" src="js/lib/underscore.js"></script>
        <script type="text/javascript" src="js/lib/checkarg.js"></script>
        <script type="text/javascript" src="js/lib/jquery.js"></script>
        <script type="text/javascript" src="js/lib/backbone.js"></script>
        <script type="text/javascript" src="js/lib/backbone.marionette.js"></script>
        <script type="text/javascript" src="js/lib/view-model.js"></script>
        <script type="text/javascript" src="js/lib/popcorn-complete.min.js"></script>
        <script type="text/javascript" src="js/lib/d3.v2.js"></script>
        <script type="text/javascript" src="js/lib/d3.layout.cloud.js"></script>
        <script type="text/javascript" src="js/lib/jquery.scrollTo.js"></script>

        <script type="text/javascript" src="js/lib/pdf.js"></script>

        <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
        <script type="text/javascript" src="openlayers/OpenLayers.js"></script>
        <script type="text/javascript" src="js/mapui/Events.js"></script>
        <script type="text/javascript" src="js/mapui/Cluster2.js"></script>
        <script type="text/javascript" src="js/mapui/mapui.js"></script>

        <script type="text/javascript" src="js/rdfbone.js"></script>
        <script type="text/javascript" src="js/pdf-view.js"></script>
        <script type="text/javascript" src="js/frontendbb.js"></script>
    </head>
    <body>
        <div class="container top">
            <div id="logo" class="span-16"><a href="http://qldarch.net/"><h1 class="logo">Digital Archive of Queensland Architecture</h1></a></div>
            <div id="userinfo" class="span-8 last">Login...</div>
            <div id="overlay" class="push-16 span-8 last"></div>
            <div id="logomenu" class="span-24">
                <a href="http://qldarch.net/?page_id=5">ABOUT</a>
                <a href="http://qldarch.net/?page_id=8">COLLABORATORS</a>
                <a href="http://qldarch.net/?page_id=44">DIGITAL STORIES</a>
                <a href="#">SEARCH</a>
                <a href="http://qldarch.net/?page_id=12">CONTRIBUTE</a>
                <a href="http://qldarch.net/?page_id=10">CONTACT</a>
            </div>
            <div id="primary" class="span-24">
                <div id="column123" class="column span-24"></div>
                <div id="column12" class="column span-16"></div>
                <div id="column1" class="column span-8"></div>
                <div id="column2" class="column span-8"></div>
                <div id="column3" class="column span-8 last"></div>
                <div id="column23" class="column span-16 last"></div>
            </div>
        </div>
        <script type="text/template" id="contentTemplate">
            <h2 class="columntitle"><%= title %></h2>
            <div class="contentdiv" class=""></div>
        </script>
        <script type="text/template" id="contenttypeTemplate">
            <div class="contenttype" data-uri="<%= uri %>">
                <div class="contentlisttitle"><%= label %></div>
                <div class="contentlist"></div>
            </div>
        </script>
        <script type="text/template" id="searchdivTemplate">
            <h2 class="columntitle">General Search</h2>
            <div id="searchdiv" class="clear">
                <label for="searchtype">Search Type</label>
                <select name="searchtype">
                    <option value="fulltext">Fulltext and Metadata</option>
                    <option value="all">Just Metadata</option>
                </select>
                <input class="span-6" type="text" value="" placeHolder="Search Content, People and Things"/>
            </div>
        </script>
        <script type="text/template" id="navbuttonTemplate">
            <div class="returnbutton span-6 last clear"><%- label %></div>
        </script>
        <script type="text/template" id="searchtypeoptionTemplate">
            <option value="<%= value %>"><%= label %></option>
        </script>
        <script type="text/template" id="contentpaneTemplate">
            <div class="summary span-16"></div>
            <div class="contentpanetabs span-16"></div>
            <div class="content span-16"></div>
        </script>
        <script type="text/template" id="contentpanetabsTemplate">
            <span type="Content" class="button tab">Related Content</span>
            <span type="Network" class="button tab">Related Network</span>
            <span type="Timeline" class="button tab">Related Timeline</span>
        </script>
        <script type="text/template" id="fulltextEntry">
            <span style="display:block" class="fulltextitem">
                <span style="display:block" class="interviewhdr"><%= title %></span>
                <span style="display:block" class="interviewtext"><%= exerpt %></span>
            </span>
        </script>
        <script type="text/template" id="entitydetailTemplate">
            <div class="entitydescription">
                <div class="contentlisttitle">About: <%= title %><div>
                <div class="propertylist"></div>
            </div>
        </script>
        <script type="text/template" id="detailItemTemplate">
            <div class="propertypair span-8 last">
                <span class="propertylabel span-3"><%= label %></span>
                <span class="propertyvalue span-5 last" type="text"><%= value %></span>
            </div>
        </script>
        <script type="text/template" id="entitysummaryTemplate">
            <h2 class="name"><%= name %></h2>
            <div class="summaryImage span-8">
                <img src="<%= imageUrl %>" title="<%= imageLabel %>"/>
            </div>
            <div class="summaryDescription span-8 last">
                <span class="biotext"><%= description %></span>
            </div>
        </script>
        <script type="text/template" id="imagecontentTemplate">
            <h2 class="columntitle">Image</h2>
            <div class="imagedisplay" class="span-16 last">
                <div class="imagemetadata" style="display:none"></div>
                <div class="content"></div>
            </div>
        </script>
        <script type="text/template" id="imageTemplate">
            <img style="display:none" src="http://qldarch.net/omeka/archive/files/<%= systemlocation %>" title="<%= title %>"/>
        </script>
        <script type="text/template" id="directimageTemplate">
            <img style="display:none" src="<%= url %>" title="<%= title %>"/>
        </script>
        <script type="text/template" id="imagedisplayTemplate">
            <img style="display:none" class="image" src="<%= systemlocation %>" title="<%= label %>"/>
            <div style="display:none" class="info"><%= message %></div>
        </script>
        <script type="text/template" id="pdfTemplate">
            <canvas></canvas>
            <div class="info"><%= message %></div>
        </script>
        <script type="text/template" id="infopanelTemplate">
            <div class="info"><%= message %></div>
        </script>
        <script type="text/template" id="interviewTemplate">
            <div class="header span24">
                <div class="summary span-18"></div>
                <div class="adjunct span-6 last"></div>
            </div>
            <div class="primary span-8"></div>
            <div class="tabs span-16 last"></div>
            <div class="secondary span-16 last"></div>
        </script>
        <script type="text/template" id="interviewsummaryTemplate">
            <h2 class="columntitle"><%= title %></h2>
            <h3>Conducted on <%= date %></h3>
        </script>
        <script type="text/template" id="returnbuttonTemplate">
            <div class="returnbutton span-6 last">Front page...</div>
        </script>
        <script type="text/template" id="transcriptTemplate">
            <div class="audiodiv">
                <audio id="<%= audiocontrolid %>" class="span-8" controls="controls">
                    <source src="<%= audiosrc %>" type="audio/ogg">
                </audio>
                <div class="transcript"></div>
            </div>
        </script>
        <script type="text/template" id="transcripttabsTemplate">
            <span type="Annotate" class="button tab">Annotations</span>
            <span type="Search" class="button tab">Search Transcript</span>
            <span type="Cloud" class="button tab">Word Cloud</span>
            <span type="Graph" class="button tab">Word Frequency</span>
        </script>
        <script type="text/template" id="transcriptcloudTemplate">
            <div class="content span-16">
                <div id="wordcloud" class="wordcloud"></div>
            </div>
        </script>
        <script type="text/template" id="transcriptgraphTemplate">
            <div class="content span-16">
                <div id="graphview" class="graphview"></div>
            </div>
        </script>
        <script type="text/template" id="transcriptsearchTemplate">
            <div class="content span-16">
                <div class="searchtranscriptpane span-16 last" style="margin-top:-10px">
                    <div class="span-16 last">
                        <input class="searchbox span-8" type="text" value="" placeHolder="Search Current Transcript"/>
                    </div>
                    <div class="searchresults span-16 last">
                        <div class="entitylisttitle">Utterances</div>
                        <div class="resultlist"/>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="transcripttabsTemplate">
            <span type="Search" class="button tab">Search Current Transcript</span>
            <span type="Annotate" class="button tab">Annotate</span>
        </script>
        <script type="text/template" id="transcriptcontentTemplate">
            <div class="content span-16 last">
                <div class="searchtranscriptpane span-16 last" style="margin-top:-10px">
                    <div class="span-16 last">
                        <input class="searchbox span-8" type="text" value="" placeHolder="Search Current Transcript"/>
                    </div>
                    <div class="searchresults span-16 last">
                        <div class="entitylisttitle">Utterances</div>
                        <div class="resultlist"/>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="utteranceTemplate">
            <div class="speaker"><%= speaker %></div>
            <div class="speech" data-time="<%= time %>"><%= transcript %></div>
        </script>
        <script type="text/template" id="spinnerTemplate">
            <img class="spinner" src="img/spinner.gif" title="Spinner GIF" />
        </script>
        <script type="text/template" id="transcriptresultTemplate">
            <span class="transcriptlabel"><%= speaker %> @ <%= time %></span>
            <span class="transcripttext"><%= transcript %></span>
        </script>
        <script type="text/template" id="mapuiTemplate">
            <div class="map" id="<%= id %>"></div>
        </script>
        <script type="text/template" id="mapsearchTemplate">
            <h2 class="columntitle">Places of Interest</h2>
            <div class="mapcontainer"></div>
            <div class="mapentityelements span-8">
                <div class="mapentitydesc"></div>
                <div class="mapentitylist"></div>
            </div>
            <div class="span-8 last">
                <div class="contentlisttitle">Image Preview</div>
                <div class="multiimagepreview"></div>
            </div>
        </script>
        <script type="text/template" id="relatedcontentTemplate">
            <div class="relatedcontentbox">
                <div class="contentlisttitle span-16"><%= label %></div>
                <div class="contentbox"></div>
            </div>
        </script>
        <script type="text/template" id="previewimageTemplate">
            <div class="spacer span-5">
                <div class="relatedimage"></div>
                <img src="img/transparent_190x1.png" style="height:1px;width:100%"/>
            </div>
        </script>
        <script type="text/template" id="listitemviewTemplate"><%= label %></script>
        <script type="text/template" id="rotatingimageTemplate">
            <div class="spacer span-5">
                <div class="relatedimage"></div>
                <img src="img/transparent_190x1.png" style="height:1px;width:100%"/>
            </div>
        </script>
        <script type="text/template" id="mapsearchboxTemplate">
            <h2 class="columntitle span-8 last">Map Search</h2>
            <div id="searchdiv" class="span-8 last">
                <label for="searchtype">Metadata Field</label>
                <select name="searchtype">
                    <option value="all">All Metadata</option>
                </select>
                <input class="span-8 last" type="text" value="" placeHolder="Search Geo Located Things"/>
                <a href="#mapsearch"><div class="returnbutton span-6 last">Front Page...</div></a>
            </div>
        </script>
        <script type="text/template" id="loginTemplate">
            <label>Username: <input type="text" class="username"/></label><br/>
            <label>Password: <input type="password" class="password"/></label><br/>
            <button class="loginbutton" type="button">Log in</button>
            <button class="cancelbutton" type="button">Cancel</button>
        </script>
        <script type="text/template" id="anonTemplate">
            <div class="userauth">
                <span class="login button slim">Login</span>
                <span class="create button slim">Create account</span>
            </div>
        </script>
        <script type="text/template" id="userTemplate">
            <div class="userauth">
                Logged in as <span class="username button slim"><%= username %></span>
                <span class="logout button slim">Logout</span>
            </div>
        </script>
        <script type="text/template" id="annotateTemplate">
            <div class="header span-16 last">
                <div style="float:right">
                    <span class="button fat newrel">New Relationship</span>
                    <span class="button fat newdetail">New Details</span>
                </div>
                <h3 style="margin-top:10px">Annotate Current Utterance</h3>
            </div>
            <div class="controls">
                <div class="createannotation span-16 last"></div>
                <div class="annotations span-16 last">
                </div>
                <div class="info span-15 last">Please Note: Only annotation summary available; details stored, but not available yet</div>
                <div class="popover span-8" style="display:none"></div>
            </div>
        </script>
        <script type="text/template" id="annotationstableTemplate">
            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Relationship</th>
                        <th>Object</th>
                        <th>Note</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </script>
        <script type="text/template" id="annotationrowTemplate">
            <td><%- subject %></td>
            <td><%- relationship %></td>
            <td><%- object %></td>
            <td><%- note %></td>
            <td><button name="delete">&times;</button><td>
        </script>
        <script type="text/template" id="simpleannotationTemplate">
            <div class="referral">
                <span>The current speaker mentions the </span>
                <span class="entityselection">Entity Selection</span>
                <div>
                    <span style="padding-left:153px">
                        <span>Note: </span>
                        <textarea name="note" placeholder="Supplementary Note" rows="3" style="height:auto;vertical-align:middle"></textarea>
                    </span>
                </div>
                <div class="referral-buttons">
                    <button class="cancelrefersto">Cancel</button>
                    <button class="addrefersto">Add Simple Annotation</button>
                </div>
            </div>
        </script>
        <script type="text/template" id="fullannotationTemplate">
            <div class="referral">
                <span>Here the interview mentions that the </span>
                <span class="subjectselection">Subject Entity Selection</span>
                <br/>
                <span style="padding-left:173px"> was </span>
                <select name="relationship">
                    <option value="">-</option>
                </select>
                <br/>
                <span style="padding-left:179px"> the </span>
                <span class="objectselection">Object Entity Selection</span>
                <br/>
                <span style="padding-left:153px">
                    <span>from: </span>
                    <input name="fromdate" type="text" pattern="^\\d\\d\\d\\d(-\\d\\d){0,2}" placeholder="yyyy[-mm[-dd]]" class="date"/>
                    <span>to: </span>
                    <input name="todate" type="text" pattern="^\\d\\d\\d\\d(-\\d\\d){0,2}" placeholder="yyyy[-mm[-dd]]" class="date"/>
                </span>
                <div>
                    <span style="padding-left:153px">
                        <span>Note: </span>
                        <textarea name="note" placeholder="Supplementary Note" rows="3" style="height:auto;vertical-align:middle"></textarea>
                    </span>
                </div>
                <div class="referral-buttons">
                    <button class="cancelrefersto">Cancel</button>
                    <button class="addrefersto">Add Full Annotation</button>
                </div>
            </div>
        </script>
        <script type="text/template" id="optionTemplate">
            <option value="<%= value %>"><%= label %></option>
        </script>
        <script type="text/template" id="entityOptionTemplate">
            <%= label %>
        </script>
        <script type="text/template" id="entityselectionTemplate">
            <select name="entitytype">
            </select>
            <span class="entity"/>
            <button class="addentity">+</button>
        </script>
        <script type="text/template" id="addentityTemplate">
            <h3>Add new <%- typelabel %>:</h3>
            <div class="attributes"></div>
            <div class="typologies">
                <label>Building Typology</label>
                <select name="typology">
                    <option value="http://qldarch.net/rdf/2012-12/resources/typologies/1">Commercial Buildings</option>
                    <option value="http://qldarch.net/rdf/2012-12/resources/typologies/2">Dwellings</option>
                    <option value="http://qldarch.net/rdf/2012-12/resources/typologies/3">Educational facilities</option>
                    <option value="http://qldarch.net/rdf/2012-12/resources/typologies/4">Government buildings</option>
                    <option value="http://qldarch.net/rdf/2012-12/resources/typologies/5">Health care facilities</option>
                    <option value="http://qldarch.net/rdf/2012-12/resources/typologies/6">Recreation and sports facilities</option>
                    <option value="http://qldarch.net/rdf/2012-12/resources/typologies/7">Religious buildings</option>
                    <option value="http://qldarch.net/rdf/2012-12/resources/typologies/8">Transport infrastructure</option>
                </select>
                <span>*</span>
            </div>
            <div class="dialogbuttons">
                <button name="add">Add <%- typelabel %></button>
                <button name="cancel">Cancel</button>
            </div>
        </script>
        <script type="text/template" id="addentityattributeTemplate">
            <label><%- attributelabel %></label>
            <input type="text"></input>
            <span><%- required %></span>
        </script>
        <script type="text/javascript">
            $(function() {
                frontend.frontendOnReady();
            });
        </script>
    </body>
</html>
